.footer {
    display: flex;
    /* margin-left: 150px; */
    justify-content: space-between;
    align-items: first baseline;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 100px;
}

.pokeBall {
    font-size: 40px;
}

.vlok {
    font-size: 15px;
}

.logo {
    font-size: 40px;

}
@media (min-width: 250px) and (max-width: 320px){
    .footer{margin-left: 50px;}


}
@media (min-width: 320px) and (max-width: 420px){

    .footer{margin-left: 20px;}


}
