.pokeCard {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 30%;
    right: 2%;

}

.pokeName {
    text-transform: uppercase;
    color: hsla(0, 1%, 80%, 0.788);

}

.pokeImg{
    height: 27rem;
}
.bg {
    /* background-image: url(/pokemon-professor-oak.jpg); */
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    position: relative;
    box-shadow: inset 5px 5px 10px 30px black;
    border-radius: 10px;

}
